{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <!-- 分页 -->
    {% if prev_url %}
        <a href="{{ prev_url }}">前一页</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">后一页</a>
    {% endif %}
{% endblock %}